<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Willow Lotto"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Willow_Lotto_app">

        <activity
            android:name=".EventActivity"
            android:exported="false"
            android:parentActivityName=".EventListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventListActivity" />
        </activity>


        <activity

            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>



        <!-- Main screens -->
        <activity android:name=".MainActivity" android:exported="false"/>
        <activity android:name=".EventsActivity" android:exported="false"/>
        <activity android:name=".NotificationActivity" android:exported="false"/>
        <activity android:name=".ProfileActivity" android:exported="false"/>
        <activity android:name=".OrganizerDashboardActivity" android:exported="false"/>
        <activity android:name=".CreateEventActivity" android:exported="false"/>
        <activity android:name=".EventQrActivity" android:exported="false"/>
        <activity android:name=".EventDetailActivity" android:exported="false"/>
        <activity android:name=".SignUpActivity" android:exported="false"/>
        <activity android:name=".EditEventActivity" android:exported="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>


</manifest>
